In [154]:
#Este notebook é primordial em relação a curadoria da base
#A principal função dele é separar as variáveis examinadas em colunas, para uma janela de tempo específica
#ao fim, ele monta uma tabela só, com todas as variáveis e diagnóstico, e salvando em um arquivo .csv

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from IPython.display import display

In [155]:
path = "/scratch/UTIClassification/Base/"

df_patient = pd.read_csv(path + 'patient.csv')
df_apacheApsVar = pd.read_csv(path + 'apacheApsVar.csv')
df_infusiondrug = pd.read_csv(path + 'infusionDrug.csv')
df_physicalExam = pd.read_csv(path + 'physicalExam.csv')
df_lab = pd.read_csv(path + 'lab.csv')
df_hospital = pd.read_csv(path + 'hospital.csv')
df_diagnosis = pd.read_csv(path + 'diagnosis.csv')
df_respiratoryCare = pd.read_csv(path + 'respiratoryCare.csv')
df_medication = pd.read_csv(path + 'medication.csv')
df_microlab = pd.read_csv(path + 'microLab.csv')

/tmp/ipykernel_1446987/3413848931.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_infusiondrug = pd.read_csv(path + 'infusionDrug.csv')
/tmp/ipykernel_1446987/3413848931.py:10: DtypeWarning: Columns (4,5,6,12,26,27,28,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_respiratoryCare = pd.read_csv(path + 'respiratoryCare.csv')
/tmp/ipykernel_1446987/3413848931.py:11: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_medication = pd.read_csv(path + 'medication.csv')

In [156]:
#parametrizando tempo
t0 = -360
t1 = 360
t2 = 4320

tempo = "alsdkf"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

# Organ disfunction

In [157]:
characteristic = df_patient [['patientunitstayid', 'gender', 'age', 'ethnicity']].copy()
#Substitua valores específicos por NaN
characteristic = characteristic.replace(-1, pd.NA)
characteristic.head()

   patientunitstayid  gender age  ethnicity
0             141168  Female  70  Caucasian
1             141178  Female  52  Caucasian
2             141179  Female  52  Caucasian
3             141194    Male  68  Caucasian
4             141196    Male  71  Caucasian

### SOFA 1

In [158]:
tempo = "physicalexamoffset"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"

sofa = df_patient[['patientunitstayid']].copy()

gcs_filtro = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('gcs', case=False, na=False)]
gcs_filtro = gcs_filtro.query(stringquery)
# Convertendo a coluna para valores numéricos, substituindo não numéricos por NaN
gcs_filtro['physicalexamvalue'] = pd.to_numeric(gcs_filtro['physicalexamvalue'], errors='coerce')
# Removendo as linhas que contêm NaN na coluna 'physicalexampath'
gcs_filtro = gcs_filtro.dropna(subset=['physicalexamvalue'])

motor = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Motor Score', case=False, na=False)]
motor = motor.query(stringquery)
motor = motor[['patientunitstayid', 'physicalexamtext']].copy()
motor = motor.rename(columns={'physicalexamtext': 'motor'})
motor['motor'] = motor['motor'].astype(int)
#Removendo motor do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Motor Score', case=False)].index)

eyes = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Eyes Score', case=False, na=False)]
eyes = eyes.query(stringquery)
eyes = eyes[['patientunitstayid', 'physicalexamtext']].copy()
eyes = eyes.rename(columns={'physicalexamtext': 'eyes'})
eyes['eyes'] = eyes['eyes'].astype(int)
#Removendo eyes do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Eyes Score', case=False)].index)

verbal = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Verbal Score', case=False, na=False)]
verbal = verbal.query(stringquery)
verbal = verbal[['patientunitstayid', 'physicalexamtext']].copy()
verbal = verbal.rename(columns={'physicalexamtext': 'verbal'})
verbal['verbal'] = verbal['verbal'].astype(int)
#Removendo verbal do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Verbal Score', case=False)].index)

gcs_total = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('gcs', case=False, na=False)]
gcs_total = gcs_total.query(stringquery)
gcs_total = gcs_total[['patientunitstayid', 'physicalexamtext']].copy()
gcs_total = gcs_total.rename(columns={'physicalexamtext': 'gcs_total'})
gcs_total['gcs_total'] = gcs_total['gcs_total'].astype(int)
#Removendo GCS do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('gcs', case=False)].index)

gcs_temp = pd.merge(motor, eyes, on='patientunitstayid', how='outer')
gcs_temp2 = pd.merge(gcs_temp, verbal, on='patientunitstayid', how='outer')
gcs = pd.merge(gcs_temp2, gcs_total, on='patientunitstayid', how='outer')
gcs ['Total'] = gcs ['motor'] + gcs ['eyes'] + gcs ['verbal']

gcs['Total'] = gcs.apply(
    lambda row: row['gcs_total'] if not np.isnan(row['gcs_total']) and row['Total'] != row['gcs_total'] else row['Total'],
    axis=1
)
gcs = gcs.drop(['motor', 'eyes', 'verbal', 'gcs_total'], axis=1)
idx = gcs.groupby('patientunitstayid')['Total'].idxmin()
idx = idx.dropna()
gcs = gcs.loc[idx]

def score(row):
  if((row['Total']<6)):
    return 4
  elif((row['Total']>=6) and (row['Total']<=9)):
    return 3
  elif((row['Total']>=10) and (row['Total']<=12)):
    return 2
  elif((row['Total']>=13) and (row['Total']<=14)):
    return 1
  else:
    return 0

sofa['Nervous'] = gcs.apply(score, axis=1)
sofa

        patientunitstayid  Nervous
0                  141168      0.0
1                  141178      0.0
2                  141179      1.0
3                  141194      2.0
4                  141196      0.0
...                   ...      ...
200854            3353235      3.0
200855            3353237      NaN
200856            3353251      NaN
200857            3353254      NaN
200858            3353263      NaN

[200859 rows x 2 columns]

In [159]:
tempo = "infusionoffset"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"

dopamine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Dopamine', case=False, na=False)]
dobutamine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Dobutamine', case=False, na=False)]
epinephrine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Epinephrine', case=False, na=False)]
norepinephrine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Norepinephrine', case=False, na=False)]

dopamine = dopamine.query(stringquery)
dobutamine = dobutamine.query(stringquery)
epinephrine = epinephrine.query(stringquery)
norepinephrine = norepinephrine.query(stringquery)

dopamine = dopamine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()
dobutamine = dobutamine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()
epinephrine = epinephrine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()
norepinephrine = norepinephrine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()

dopamine['concentration.dop'] = dopamine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)
epinephrine['concentration.epi'] = epinephrine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)
dobutamine['concentration.dob'] = dobutamine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)
norepinephrine['concentration.nor'] = norepinephrine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)


dopamine.rename(columns={'drugamount' : 'dopamine'}, inplace=True)
dobutamine.rename(columns={'drugamount' : 'dobutamine'}, inplace=True)
epinephrine.rename(columns={'drugamount' : 'epinephrine'}, inplace=True)
norepinephrine.rename(columns={'drugamount' : 'norepinephrine'}, inplace=True)

dopamine = dopamine.groupby('patientunitstayid')['concentration.dop'].max().reset_index()
dobutamine = dobutamine.groupby('patientunitstayid')['concentration.dob'].max().reset_index()
epinephrine = epinephrine.groupby('patientunitstayid')['concentration.epi'].max().reset_index()
norepinephrine = norepinephrine.groupby('patientunitstayid')['concentration.nor'].max().reset_index()

cardio = pd.merge(dopamine, dobutamine, on='patientunitstayid', how='outer')
cardio = pd.merge(cardio, epinephrine, on='patientunitstayid', how='outer')
cardio = pd.merge(cardio, norepinephrine, on='patientunitstayid', how='outer')

In [160]:
tempo = "physicalexamoffset"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"

systolic = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('systolic', case=False, na=False)]
diastolic = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('diastolic', case=False, na=False)]

systolic = systolic.query(stringquery)
diastolic = diastolic.query(stringquery)

systolic = systolic[['patientunitstayid', 'physicalexamtext']].copy()
diastolic = diastolic[['patientunitstayid', 'physicalexamtext']].copy()

systolic.rename(columns={'physicalexamtext' : 'systolic'}, inplace=True)
diastolic.rename(columns={'physicalexamtext' : 'diastolic'}, inplace=True)

MAP = pd.merge(systolic, diastolic, on='patientunitstayid')

try:
  MAP["diastolic"] = MAP["diastolic"].astype(int)
except ValueError:
  MAP["diastolic"] = pd.to_numeric(MAP["diastolic"], errors='coerce')

try:
  MAP["systolic"] = MAP["systolic"].astype(int)
except ValueError:
  MAP["systolic"] = pd.to_numeric(MAP["systolic"], errors='coerce')

#PAM = (Pressão Sistólica + 2 x Pressão Diastólica) / 3
MAP['MAP'] = (MAP['systolic'] + 2*(MAP['diastolic'])) / 3
MAP = MAP.groupby('patientunitstayid')['MAP'].min().reset_index()

cardio = pd.merge(cardio, MAP, on='patientunitstayid', how='outer')

In [161]:
def score(row):
  if((row['concentration.dop']>15) or (row['concentration.epi']>0.1) or (row['concentration.nor']>0.1)):
    return 4
  elif((row['concentration.dop']>5) or (row['concentration.epi']<=0.1) or (row['concentration.nor']<=0.1)):
    return 3
  elif((row['concentration.dop']<=5) or (row['concentration.dop']>0)):
    return 2
  elif(row['MAP']<70):
    return 1
  else:
    return 0

sofa['Cardiovascular'] = cardio.apply(score, axis=1)

In [162]:
tempo = "labresultoffset"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"

pao2 = df_lab[df_lab['labname'].str.contains('^paO2$', case=False, na=False, regex=True)]
fio2 = df_lab[df_lab['labname'].str.contains('^FiO2$', case=False, na=False, regex=True)]

pao2 = pao2.query(stringquery)
fio2 = fio2.query(stringquery)

pao2 = pao2[['patientunitstayid', 'labresult']].copy()
fio2 = fio2[['patientunitstayid', 'labresult']].copy()

pao2.rename(columns={'labresult' : 'pao2'}, inplace=True)
fio2.rename(columns={'labresult' : 'fio2'}, inplace=True)

# Substituir 0.0 por NaN em fio2
fio2['fio2'] = fio2['fio2'].replace(0.0, float('nan'))

resp = pd.merge(pao2, fio2, on='patientunitstayid', how='outer')
resp['Total'] = resp['pao2']/resp['fio2']

def score(row):
    if row['Total'] < 100:
        return 4
    elif 100 <= row['Total'] < 200:
        return 3
    elif 200 <= row['Total'] < 300:
        return 2
    elif 300 <= row['Total'] < 400:
        return 1
    else:
        return 0

resp = resp.groupby('patientunitstayid')['Total'].min().reset_index()
sofa['Respiratory'] = resp.apply(score, axis=1)

In [163]:
tempo = "labresultoffset"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"

platelets = df_lab[df_lab['labname'].str.contains('platelets', case=False, na=False)]
platelets = platelets.query(stringquery)
platelets = platelets[['patientunitstayid', 'labresult']].copy()
platelets.rename(columns={'labresult' : 'platelets'}, inplace=True)
platelets = platelets.groupby('patientunitstayid')['platelets'].min().reset_index()

def score(row):
    if row['platelets'] < 20:
        return 4
    elif 20 <= row['platelets'] < 50:
        return 3
    elif 50 <= row['platelets'] < 100:
        return 2
    elif 100 <= row['platelets'] < 150:
        return 1
    else:
        return 0

sofa['Coagulation'] = platelets.apply(score, axis=1)

In [164]:
tempo = "labresultoffset"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"

bilirubin = df_lab[df_lab['labname'].str.contains('total bilirubin', case=False, na=False)]
bilirubin = bilirubin.query(stringquery)
bilirubin = bilirubin[['patientunitstayid', 'labresult']].copy()
bilirubin.rename(columns={'labresult' : 'bilirubin'}, inplace=True)
bilirubin = bilirubin.groupby('patientunitstayid')['bilirubin'].max().reset_index()

def score(row):
    if row['bilirubin'] >= 12.0:
        return 4
    elif 12.0 > row['bilirubin'] >= 6.0:
        return 3
    elif 6.0 > row['bilirubin'] >= 2.0:
        return 2
    elif 2.0 > row['bilirubin'] > 1.2:
        return 1
    else:
        return 0

sofa['Liver'] = bilirubin.apply(score, axis=1)

In [165]:
tempo = "labresultoffset"
stringquery = f"{tempo} > {t1} and {tempo} < {t2}"

creatinine = df_lab[df_lab['labname'].str.contains('creatinine', case=False, na=False)]
creatinine = creatinine.query(stringquery)
creatinine = creatinine[['patientunitstayid','labresult']].copy()
creatinine.rename(columns={'labresult' : 'creatinine'}, inplace=True)
creatinine = creatinine.groupby('patientunitstayid')['creatinine'].max().reset_index()

def score(row):
  if row['creatinine'] >= 5.0:
    return 4
  elif 5.0 > row['creatinine'] >= 3.5:
    return 3
  elif 3.0 > row['creatinine'] >= 2.0:
    return 2
  elif 2.0 > row['creatinine'] > 1.2:
    return 1
  else:
    return 0

sofa['Renal'] = creatinine.apply(score, axis=1)

In [166]:
sofa['sofascore'] = sofa['Nervous'] + sofa['Cardiovascular'] + sofa['Respiratory'] + sofa['Coagulation'] + sofa['Liver'] + sofa['Renal']
sofa = sofa[['patientunitstayid', 'sofascore']].copy()
sofa

        patientunitstayid  sofascore
0                  141168       11.0
1                  141178        5.0
2                  141179        5.0
3                  141194        6.0
4                  141196        5.0
...                   ...        ...
200854            3353235        NaN
200855            3353237        NaN
200856            3353251        NaN
200857            3353254        NaN
200858            3353263        NaN

[200859 rows x 2 columns]

### SOFA2

In [167]:
tempo = "physicalexamoffset"
querypred = f"{tempo} < {t1}"

# Filtrar apenas os registros relacionados a GCS
gcs_filtro = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('gcs', case=False, na=False)]
gcs_filtro = gcs_filtro.query(querypred)

# Converter 'physicalexamvalue' para valores numéricos, substituindo não numéricos por NaN
gcs_filtro['physicalexamvalue'] = pd.to_numeric(gcs_filtro['physicalexamvalue'], errors='coerce')
gcs_filtro = gcs_filtro.dropna(subset=['physicalexamvalue'])

In [168]:
# Função para extrair e formatar os scores (motor, eyes, verbal)
def extract_scores(df, score_type, column_name):
    temp_df = df[df['physicalexampath'].str.contains(score_type, case=False, na=False)]
    temp_df = temp_df.query(querypred)
    temp_df = temp_df[['patientunitstayid', 'physicalexamtext']].copy()
    temp_df = temp_df.rename(columns={'physicalexamtext': column_name})
    temp_df[column_name] = pd.to_numeric(temp_df[column_name], errors='coerce')
    df.drop(temp_df.index, inplace=True)
    return temp_df

# Extrair os diferentes componentes do GCS
motor = extract_scores(gcs_filtro, 'Motor Score', 'motor')
eyes = extract_scores(gcs_filtro, 'Eyes Score', 'eyes')
verbal = extract_scores(gcs_filtro, 'Verbal Score', 'verbal')
gcs_total = extract_scores(gcs_filtro, 'gcs', 'gcs_total')

In [169]:
# Mesclar os resultados
gcs = pd.merge(motor, eyes, on='patientunitstayid', how='outer')
gcs = pd.merge(gcs, verbal, on='patientunitstayid', how='outer')
gcs = pd.merge(gcs, gcs_total, on='patientunitstayid', how='outer')

In [170]:
# Calcular o total
gcs['Total'] = gcs[['motor', 'eyes', 'verbal']].sum(axis=1)

# Ajustar o Total com base no 'gcs_total' quando necessário
gcs['Total'] = gcs.apply(
    lambda row: row['gcs_total'] if not np.isnan(row['gcs_total']) and row['Total'] != row['gcs_total'] else row['Total'],
    axis=1
)

# Remover colunas intermediárias
gcs = gcs.drop(['motor', 'eyes', 'verbal', 'gcs_total'], axis=1)

# Selecionar a menor pontuação total para cada paciente
gcs = gcs.loc[gcs.groupby('patientunitstayid')['Total'].idxmin().dropna()]

# Função de classificação
def score(row):
    if row['Total'] < 6:
        return 4
    elif 6 <= row['Total'] <= 9:
        return 3
    elif 10 <= row['Total'] <= 12:
        return 2
    elif 13 <= row['Total'] <= 14:
        return 1
    else:
        return 0

# Aplicar a função de classificação
sofa2 = df_patient[['patientunitstayid']].copy()
sofa2 = pd.merge(sofa2, gcs[['patientunitstayid', 'Total']], on='patientunitstayid', how='left')
sofa2['Nervous'] = sofa2.apply(score, axis=1)
sofa2

        patientunitstayid  Total  Nervous
0                  141168   15.0        0
1                  141178    NaN        0
2                  141179    NaN        0
3                  141194   13.0        1
4                  141196    NaN        0
...                   ...    ...      ...
200854            3353235   15.0        0
200855            3353237   14.0        1
200856            3353251    3.0        4
200857            3353254   15.0        0
200858            3353263   15.0        0

[200859 rows x 3 columns]

In [171]:
tempo = "infusionoffset"
querypred = f"{tempo} < {t1}"

dopamine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Dopamine', case=False, na=False)]
dobutamine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Dobutamine', case=False, na=False)]
epinephrine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Epinephrine', case=False, na=False)]
norepinephrine = df_infusiondrug[df_infusiondrug['drugname'].str.contains('Norepinephrine', case=False, na=False)]

dopamine = dopamine.query(querypred)
dobutamine = dobutamine.query(querypred)
epinephrine = epinephrine.query(querypred)
norepinephrine = norepinephrine.query(querypred)

dopamine = dopamine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()
dobutamine = dobutamine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()
epinephrine = epinephrine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()
norepinephrine = norepinephrine[['patientunitstayid', 'drugamount', 'volumeoffluid']].copy()

dopamine['concentration.dop'] = dopamine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)
epinephrine['concentration.epi'] = epinephrine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)
dobutamine['concentration.dob'] = dobutamine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)
norepinephrine['concentration.nor'] = norepinephrine.apply(lambda row: row['drugamount'] / row['volumeoffluid'] if row['volumeoffluid'] else None, axis=1)


dopamine.rename(columns={'drugamount' : 'dopamine'}, inplace=True)
dobutamine.rename(columns={'drugamount' : 'dobutamine'}, inplace=True)
epinephrine.rename(columns={'drugamount' : 'epinephrine'}, inplace=True)
norepinephrine.rename(columns={'drugamount' : 'norepinephrine'}, inplace=True)

dopamine = dopamine.groupby('patientunitstayid')['concentration.dop'].max().reset_index()
dobutamine = dobutamine.groupby('patientunitstayid')['concentration.dob'].max().reset_index()
epinephrine = epinephrine.groupby('patientunitstayid')['concentration.epi'].max().reset_index()
norepinephrine = norepinephrine.groupby('patientunitstayid')['concentration.nor'].max().reset_index()

cardio = pd.merge(dopamine, dobutamine, on='patientunitstayid', how='outer')
cardio = pd.merge(cardio, epinephrine, on='patientunitstayid', how='outer')
cardio = pd.merge(cardio, norepinephrine, on='patientunitstayid', how='outer')

In [172]:
tempo = "physicalexamoffset"
querypred = f"{tempo} < {t1}"

systolic = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('systolic', case=False, na=False)]
diastolic = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('diastolic', case=False, na=False)]

systolic = systolic.query(querypred)
diastolic = diastolic.query(querypred)

systolic = systolic[['patientunitstayid', 'physicalexamtext']].copy()
diastolic = diastolic[['patientunitstayid', 'physicalexamtext']].copy()

systolic.rename(columns={'physicalexamtext' : 'systolic'}, inplace=True)
diastolic.rename(columns={'physicalexamtext' : 'diastolic'}, inplace=True)

MAP = pd.merge(systolic, diastolic, on='patientunitstayid')

try:
  MAP["diastolic"] = MAP["diastolic"].astype(int)
except ValueError:
  MAP["diastolic"] = pd.to_numeric(MAP["diastolic"], errors='coerce')

try:
  MAP["systolic"] = MAP["systolic"].astype(int)
except ValueError:
  MAP["systolic"] = pd.to_numeric(MAP["systolic"], errors='coerce')

#PAM = (Pressão Sistólica + 2 x Pressão Diastólica) / 3
MAP['MAP'] = (MAP['systolic'] + 2*(MAP['diastolic'])) / 3
MAP = MAP.groupby('patientunitstayid')['MAP'].min().reset_index()

cardio = pd.merge(cardio, MAP, on='patientunitstayid', how='outer')

In [173]:
def score(row):
    if((row['concentration.dop']>15) or (row['concentration.epi']>0.1) or (row['concentration.nor']>0.1)):
        return 4
    elif((row['concentration.dop']>5) or (row['concentration.epi']<=0.1) or (row['concentration.nor']<=0.1)):
        return 3
    elif((row['concentration.dop']<=5) or (row['concentration.dop']>0)):
        return 2
    elif(row['MAP']<70):
        return 1
    else:
        return 0

sofa2['Cardiovascular'] = cardio.apply(score, axis=1)

In [174]:
tempo = "labresultoffset"
querypred = f"{tempo} < {t1}"

pao2 = df_lab[df_lab['labname'].str.contains('^paO2$', case=False, na=False, regex=True)]
fio2 = df_lab[df_lab['labname'].str.contains('^FiO2$', case=False, na=False, regex=True)]

pao2 = pao2.query(querypred)
fio2 = fio2.query(querypred)

pao2 = pao2[['patientunitstayid', 'labresult']].copy()
fio2 = fio2[['patientunitstayid', 'labresult']].copy()

pao2.rename(columns={'labresult' : 'pao2'}, inplace=True)
fio2.rename(columns={'labresult' : 'fio2'}, inplace=True)

# Substituir 0.0 por NaN em fio2
fio2['fio2'] = fio2['fio2'].replace(0.0, float('nan'))

resp = pd.merge(pao2, fio2, on='patientunitstayid', how='outer')
resp['Total'] = resp['pao2']/resp['fio2']

def score(row):
    if row['Total'] < 100:
        return 4
    elif 100 <= row['Total'] < 200:
        return 3
    elif 200 <= row['Total'] < 300:
        return 2
    elif 300 <= row['Total'] < 400:
        return 1
    else:
        return 0

resp = resp.groupby('patientunitstayid')['Total'].min().reset_index()
sofa2['Respiratory'] = resp.apply(score, axis=1)

In [175]:
tempo = "labresultoffset"
querypred = f"{tempo} < {t1}"

platelets = df_lab[df_lab['labname'].str.contains('platelets', case=False, na=False)]
platelets = platelets.query(querypred)
platelets = platelets[['patientunitstayid', 'labresult']].copy()
platelets.rename(columns={'labresult' : 'platelets'}, inplace=True)
platelets = platelets.groupby('patientunitstayid')['platelets'].min().reset_index()

def score(row):
    if row['platelets'] < 20:
        return 4
    elif 20 <= row['platelets'] < 50:
        return 3
    elif 50 <= row['platelets'] < 100:
        return 2
    elif 100 <= row['platelets'] < 150:
        return 1
    else:
        return 0

sofa2['Coagulation'] = platelets.apply(score, axis=1)

In [176]:
tempo = "labresultoffset"
querypred = f"{tempo} < {t1}"

bilirubin = df_lab[df_lab['labname'].str.contains('total bilirubin', case=False, na=False)]
bilirubin = bilirubin.query(querypred)
bilirubin = bilirubin[['patientunitstayid', 'labresult']].copy()
bilirubin.rename(columns={'labresult' : 'bilirubin'}, inplace=True)
bilirubin = bilirubin.groupby('patientunitstayid')['bilirubin'].max().reset_index()

def score(row):
    if row['bilirubin'] >= 12.0:
        return 4
    elif 12.0 > row['bilirubin'] >= 6.0:
        return 3
    elif 6.0 > row['bilirubin'] >= 2.0:
        return 2
    elif 2.0 > row['bilirubin'] > 1.2:
        return 1
    else:
        return 0

sofa2['Liver'] = bilirubin.apply(score, axis=1)

In [177]:
creatinine = df_lab[df_lab['labname'].str.contains('creatinine', case=False, na=False)]
creatinine = creatinine.query('labresultoffset <= 360')
creatinine = creatinine[['patientunitstayid','labresult']].copy()
creatinine.rename(columns={'labresult' : 'creatinine'}, inplace=True)
creatinine = creatinine.groupby('patientunitstayid')['creatinine'].max().reset_index()

def score(row):
  if row['creatinine'] >= 5.0:
    return 4
  elif 5.0 > row['creatinine'] >= 3.5:
    return 3
  elif 3.0 > row['creatinine'] >= 2.0:
    return 2
  elif 2.0 > row['creatinine'] > 1.2:
    return 1
  else:
    return 0

sofa2['Renal'] = creatinine.apply(score, axis=1)

In [178]:
sofa2['sofa2score'] = sofa2['Nervous'] + sofa2['Cardiovascular'] + sofa2['Respiratory'] + sofa2['Coagulation'] + sofa2['Liver'] + sofa2['Renal']
sofa2 = sofa2[['patientunitstayid', 'sofa2score']].copy()
sofa2

        patientunitstayid  sofa2score
0                  141168         5.0
1                  141178         4.0
2                  141179         2.0
3                  141194         5.0
4                  141196         4.0
...                   ...         ...
200854            3353235         NaN
200855            3353237         NaN
200856            3353251         NaN
200857            3353254         NaN
200858            3353263         NaN

[200859 rows x 2 columns]

# Inflammation

In [179]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

bands = df_lab[df_lab['labname'].str.contains('-bands', case=False, na=False)]
CRP = df_lab[df_lab['labname'].str.contains('CRP', case=False, na=False)]
ESR = df_lab[df_lab['labname'].str.contains('ESR', case=False, na=False)]
lactate = df_lab[df_lab['labname'].str.contains('lactate', case=False, na=False)]
temperature = df_lab[df_lab['labname'].str.contains('Temp', case=False, na=False)]
WBC = df_lab[df_lab['labname'].str.contains('WBC x 1000', case=False, na=False)]
lymphs = df_lab[df_lab['labname'].str.contains('-lymphs', case=False, na=False)]

bands = bands.query(querypred)
CRP = CRP.query(querypred)
ESR = ESR.query(querypred)
temperature = temperature.query(querypred)
lactate = lactate.query(querypred)
WBC = WBC.query(querypred)
lymphs = lymphs.query(querypred)

bands = bands[['patientunitstayid', 'labresult']].copy()
CRP = CRP[['patientunitstayid', 'labresult']].copy()
ESR = ESR[['patientunitstayid', 'labresult']].copy()
temperature = temperature[['patientunitstayid', 'labresulttext']].copy()
lactate = lactate[['patientunitstayid', 'labresult']].copy()
WBC = WBC[['patientunitstayid', 'labresult']].copy()
lymphs = lymphs[['patientunitstayid', 'labresult']].copy()

# Transformando as temperaturas em celsius
temperature['temp'] = temperature['labresulttext'].astype(float)
temperature['temp'] = temperature['temp'].map(lambda x: x if x < 60 else (x - 32) * 5/9)

# Pior valor da temperatura
temperature['distancia'] = np.abs(temperature['temp'] - 36.85)
temperature = temperature.loc[temperature.groupby('patientunitstayid')['distancia'].idxmax()]
temperature = temperature.reset_index(drop=True)
temperature = temperature.drop(['distancia', 'labresulttext'], axis=1)

# Calcular o valor mais crítico para WBC
WBC = WBC.dropna(subset=['labresult'])
WBC['distancia'] = np.abs(WBC['labresult'] - 7500)
WBC = WBC.loc[WBC.groupby('patientunitstayid')['distancia'].idxmax()]
WBC = WBC.reset_index(drop=True)
WBC = WBC.drop(['distancia'], axis=1)

# Calcular o valor mais crítico para linfócitos
lymphs = lymphs.dropna(subset=['labresult'])
lymphs['distancia'] = np.abs(lymphs['labresult'] - 2000)
lymphs = lymphs.loc[lymphs.groupby('patientunitstayid')['distancia'].idxmax()]
lymphs = lymphs.reset_index(drop=True)
lymphs = lymphs.drop(['distancia'], axis=1)

bands = bands.groupby('patientunitstayid')['labresult'].max().reset_index()
CRP = CRP.groupby('patientunitstayid')['labresult'].max().reset_index()
ESR = ESR.groupby('patientunitstayid')['labresult'].max().reset_index()
lactate= lactate.groupby('patientunitstayid')['labresult'].max().reset_index()

bands = bands.rename(columns={'labresult': 'bands'})
CRP = CRP.rename(columns={'labresult': 'CRP'})
ESR = ESR.rename(columns={'labresult': 'ESR'})
lactate = lactate.rename(columns={'labresult': 'lactate'})
WBC = WBC.rename(columns={'labresult': 'WBC'})
lymphs = lymphs.rename(columns={'labresult': 'lymphs'})

inflammation = pd.merge(bands, CRP, on='patientunitstayid', how='outer')
inflammation = pd.merge(inflammation, ESR, on='patientunitstayid', how='outer')
inflammation = pd.merge(inflammation, temperature, on='patientunitstayid', how='outer')
inflammation = pd.merge(inflammation, lactate, on='patientunitstayid', how='outer')
inflammation = pd.merge(inflammation, WBC, on='patientunitstayid', how='outer')
inflammation = pd.merge(inflammation, lymphs, on='patientunitstayid', how='outer')

inflammation

        patientunitstayid  bands  CRP  ESR  temp  lactate   WBC  lymphs
0                  141178    NaN  NaN  NaN   NaN      NaN   7.6    45.0
1                  141194    NaN  NaN  NaN   NaN      1.9  14.1     1.0
2                  141196    NaN  NaN  NaN   NaN      0.8   NaN     NaN
3                  141197    NaN  NaN  NaN   NaN      NaN  29.5     3.0
4                  141203    NaN  NaN  NaN   NaN      3.5  12.7    20.0
...                   ...    ...  ...  ...   ...      ...   ...     ...
135021            3353235    NaN  NaN  NaN   NaN      NaN   5.4    13.0
135022            3353237    NaN  NaN  NaN   NaN      NaN  10.4     NaN
135023            3353251    NaN  NaN  NaN   NaN      9.8  41.8     8.0
135024            3353254    NaN  NaN  NaN   NaN      1.3  13.5    10.0
135025            3353263    NaN  NaN  NaN   NaN      NaN   6.4    24.0

[135026 rows x 8 columns]

# Pulmonary

In [180]:
tempo = "physicalexamoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

resp = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('Resp Current', case=False, na=False)]
resp = resp.query(querypred)
resp = resp[['patientunitstayid', 'physicalexamtext']].copy()
resp['physicalexamtext'] = resp['physicalexamtext'].astype(float)

resp['distancia'] = np.abs(resp['physicalexamtext'] - 16)
resp = resp.loc[resp.groupby('patientunitstayid')['distancia'].idxmax()]
resp = resp.reset_index(drop=True)
resp = resp.drop(['distancia'], axis=1)

resp = resp.groupby('patientunitstayid')['physicalexamtext'].max().reset_index()
resp = resp.rename(columns={'physicalexamtext': 'resp'})

In [181]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

spo2 = df_lab[df_lab['labname'].str.contains('O2 Sat', case=False, na=False)]
fio2 = df_lab[df_lab['labname'].str.contains('FiO2', case=False, na=False)]

spo2 = spo2.query(querypred)
fio2 = fio2.query(querypred)

spo2 = spo2[['patientunitstayid', 'labresult']].copy()
fio2 = fio2[['patientunitstayid', 'labresult']].copy()

spo2 = spo2.rename(columns={'labresult': 'spo2'})
fio2 = fio2.rename(columns={'labresult': 'fio2'})

# Substituir 0.0 por NaN em fio2
fio2['fio2'] = fio2['fio2'].replace(0.0, float('nan'))

spo2_fio2 = pd.merge(spo2, fio2, on='patientunitstayid')
spo2_fio2['spo2/fio2'] = spo2_fio2['spo2'] / spo2_fio2['fio2']
spo2_fio2 = spo2_fio2.drop(['spo2', 'fio2'], axis=1)
spo2_fio2 = spo2_fio2.groupby('patientunitstayid')['spo2/fio2'].max().reset_index()

In [182]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

pao2 = df_lab[df_lab['labname'].str.contains('paO2', case=False, na=False)]
pao2 = pao2.query(querypred)
pao2 = pao2[['patientunitstayid', 'labresult']].copy()
pao2 = pao2.rename(columns={'labresult': 'pao2'})

# Substituir 0.0 por NaN em fio2
fio2['fio2'] = fio2['fio2'].replace(0.0, float('nan'))

pao2_fio2 = pd.merge(pao2, fio2, on='patientunitstayid')

pao2_fio2['pao2/fio2'] = pao2_fio2['pao2'] / pao2_fio2['fio2']
pao2_fio2 = pao2_fio2.drop(['pao2', 'fio2'], axis=1)
pao2_fio2 = pao2_fio2.groupby('patientunitstayid')['pao2/fio2'].min().reset_index()

In [183]:
pulmonary = pd.merge(resp, spo2_fio2, on='patientunitstayid', how='outer')
pulmonary = pd.merge(pulmonary, pao2_fio2, on='patientunitstayid', how='outer')
pulmonary

        patientunitstayid  resp  spo2/fio2  pao2/fio2
0                  141194  23.0        NaN        NaN
1                  141197  24.0        NaN        NaN
2                  141203   NaN        NaN   0.510000
3                  141227   NaN        NaN   1.777778
4                  141233   NaN      2.475   1.110000
...                   ...   ...        ...        ...
134779            3353226  14.0    100.000   3.528571
134780            3353237  27.0        NaN        NaN
134781            3353251  24.0    100.000   0.940000
134782            3353254  24.0        NaN        NaN
134783            3353263  24.0        NaN        NaN

[134784 rows x 4 columns]

# Cardiovascular

In [184]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

bicarbonate = df_lab[df_lab['labname'].str.contains('bicarbonate', case=False, na=False)]
bicarbonate = bicarbonate.query(querypred)
bicarbonate = bicarbonate[['patientunitstayid', 'labresult']].copy()
bicarbonate.rename(columns={'labresult': 'bicarbonate'}, inplace=True)
bicarbonate = bicarbonate.groupby('patientunitstayid')['bicarbonate'].min().reset_index()

In [185]:
tempo = "physicalexamoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

heartRate = df_physicalExam[df_physicalExam['physicalexamvalue'].str.contains('HR Current', case=False, na=False)]
heartRate = heartRate.query(querypred)
heartRate = heartRate[['patientunitstayid', 'physicalexamtext']].copy()

heartRate['physicalexamtext'] = heartRate['physicalexamtext'].astype(float)
heartRate['distancia'] = np.abs(heartRate['physicalexamtext'] - 75)
heartRate = heartRate.loc[heartRate.groupby('patientunitstayid')['distancia'].idxmax()]
heartRate = heartRate.reset_index(drop=True)
heartRate = heartRate.drop(['distancia'], axis=1)

heartRate.rename(columns={'physicalexamtext': 'heartRate'}, inplace=True)

In [186]:
tempo = "physicalexamoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

systolic = df_physicalExam[df_physicalExam['physicalexamvalue'].str.contains(r'systolic.*Current|Current.*systolic', case=False, na=False)]
systolic = systolic.query(querypred)
systolic = systolic[['patientunitstayid', 'physicalexamtext']].copy()

systolic['physicalexamtext'] = systolic['physicalexamtext'].map(lambda x: -1 if not x.isnumeric() else float(x))

systolic['distancia'] = np.abs(systolic['physicalexamtext'] - 115)
systolic = systolic.loc[systolic.groupby('patientunitstayid')['distancia'].idxmax()]
systolic = systolic.drop_duplicates(subset='patientunitstayid')
systolic = systolic.reset_index(drop=True)
systolic = systolic.drop(['distancia'], axis=1)

systolic.rename(columns={'physicalexamtext': 'systolic'}, inplace=True)

In [187]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

troponin = df_lab[df_lab['labname'].str.contains('troponin', case=False, na=False)]
troponin = troponin.query(querypred)
troponin = troponin[['patientunitstayid', 'labresult']].copy()
troponin.rename(columns={'labresult': 'troponin'}, inplace=True)
troponin = troponin.groupby('patientunitstayid')['troponin'].max().reset_index()

In [188]:
tempo = "physicalexamoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

diastolic = df_physicalExam[df_physicalExam['physicalexamvalue'].str.contains(r'diastolic.*Current|Current.*diastolic', case=False, na=False)]
diastolic = diastolic.query(querypred)
diastolic = diastolic[['patientunitstayid', 'physicalexamtext']].copy()
diastolic['physicalexamtext'] = diastolic['physicalexamtext'].map(lambda x: -1 if not x.isnumeric() else float(x))

diastolic['distancia'] = np.abs(diastolic['physicalexamtext'] - 62.5)
diastolic = diastolic.loc[diastolic.groupby('patientunitstayid')['distancia'].idxmax()]
diastolic = diastolic.drop_duplicates(subset='patientunitstayid')
diastolic = diastolic.reset_index(drop=True)
diastolic = diastolic.drop(['distancia'], axis=1)

diastolic.rename(columns={'physicalexamtext': 'diastolic'}, inplace=True)

In [189]:
tempo = "physicalexamoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

systolic_map = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('systolic', case=False, na=False)]
diastolic_map = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('diastolic', case=False, na=False)]

systolic_map = systolic_map.query(querypred)
diastolic_map = diastolic_map.query(querypred)

systolic_map = systolic_map[['patientunitstayid', 'physicalexamtext']].copy()
diastolic_map = diastolic_map[['patientunitstayid', 'physicalexamtext']].copy()

systolic_map.rename(columns={'physicalexamtext' : 'systolic'}, inplace=True)
diastolic_map.rename(columns={'physicalexamtext' : 'diastolic'}, inplace=True)

MAP = pd.merge(systolic_map, diastolic_map, on='patientunitstayid')

try:
  MAP["diastolic"] = MAP["diastolic"].astype(int)
except ValueError:
  MAP["diastolic"] = pd.to_numeric(MAP["diastolic"], errors='coerce')

try:
  MAP["systolic"] = MAP["systolic"].astype(int)
except ValueError:
  MAP["systolic"] = pd.to_numeric(MAP["systolic"], errors='coerce')

MAP['MAP'] = (MAP['systolic'] + 2*(MAP['diastolic'])) / 3
MAP = MAP.groupby('patientunitstayid')['MAP'].min().reset_index()

In [190]:
cardiovascular = pd.merge(bicarbonate, heartRate, on='patientunitstayid', how='outer')
cardiovascular = pd.merge(cardiovascular, troponin, on='patientunitstayid', how='outer')
cardiovascular = pd.merge(cardiovascular, systolic, on='patientunitstayid', how='outer')
cardiovascular = pd.merge(cardiovascular, diastolic, on='patientunitstayid', how='outer')
cardiovascular = pd.merge(cardiovascular, MAP, on='patientunitstayid', how='outer')
cardiovascular

,patientunitstayid,bicarbonate,heartRate,troponin,systolic,diastolic,MAP
0,141178,25.0,NaN,NaN,NaN,NaN,NaN
1,141179,22.0,NaN,NaN,NaN,NaN,NaN
2,141194,19.0,112.0,NaN,NaN,NaN,NaN
3,141197,29.0,99.0,NaN,NaN,NaN,NaN
4,141203,27.0,104.0,0.02,100.0,63.0,51.666667
...,...,...,...,...,...,...,...
169401,3353235,24.0,NaN,0.04,161.0,98.0,119.000000
169402,3353237,27.0,85.0,0.19,130.0,72.0,91.333333
169403,3353251,20.0,90.0,0.06,107.0,54.0,71.666667
169404,3353254,24.0,76.0,NaN,80.0,50.0,60.000000
169405,3353263,31.0,90.0,NaN,143.0,86.0,97.666667

# Renal

In [191]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

BUN = df_lab[df_lab['labname'].str.contains('BUN', case=False, na=False)]
BUN = BUN.query(querypred)
BUN = BUN[['patientunitstayid', 'labresult']].copy()
BUN.rename(columns={'labresult' : 'bloodUreaNitrogen'}, inplace=True)
BUN = BUN.groupby('patientunitstayid')['bloodUreaNitrogen'].max().reset_index()
renal = BUN

renal

        patientunitstayid  bloodUreaNitrogen
0                  141178               11.0
1                  141179               20.0
2                  141194               31.0
3                  141197               14.0
4                  141203                9.0
...                   ...                ...
127096            3353235               16.0
127097            3353237               32.0
127098            3353251               19.0
127099            3353254               42.0
127100            3353263               13.0

[127101 rows x 2 columns]

# Hepatic

In [192]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

# Selecionar indicadores hepáticos no dataset 'lab'
alanine = df_lab[df_lab['labname'].str.contains('ALT', case=False, na=False)]
aspartate = df_lab[df_lab['labname'].str.contains('AST', case=False, na=False)]
bilirubin = df_lab[df_lab['labname'].str.contains('total bilirubin', case=False, na=False)]

# Filtrar para o intervalo das primeiras 24 horas do paciente na UTI
alanine = alanine.query(querypred)
aspartate = aspartate.query(querypred)
bilirubin = bilirubin.query(querypred)

# Fazer uma cópia com as colunas importantes para o modelo
alanine = alanine[['patientunitstayid', 'labresult']].copy()
aspartate = aspartate[['patientunitstayid', 'labresult']].copy()
bilirubin = bilirubin[['patientunitstayid', 'labresult']].copy()

# Renomear colunas para facilitar visualização
alanine.rename(columns={'labresult' : 'alanine'}, inplace=True)
aspartate.rename(columns={'labresult' : 'aspartate'}, inplace=True)
bilirubin.rename(columns={'labresult' : 'bilirubin'}, inplace=True)

# Filtrar os valores mais críticos de cada paciente
alanine = alanine.groupby('patientunitstayid')['alanine'].max().reset_index()
aspartate = aspartate.groupby('patientunitstayid')['aspartate'].max().reset_index()
bilirubin = bilirubin.groupby('patientunitstayid')['bilirubin'].max().reset_index()

# Mesclar os datasets
hepatic = pd.merge(alanine, aspartate, on='patientunitstayid', how='outer')
hepatic = pd.merge(hepatic, bilirubin, on='patientunitstayid', how='outer')

hepatic

       patientunitstayid  alanine  aspartate  bilirubin
0                 141178     52.0       40.0        0.4
1                 141194     20.0       24.0        0.4
2                 141197     19.0       17.0        0.3
3                 141208     96.0       53.0        0.7
4                 141229     47.0       48.0        0.3
...                  ...      ...        ...        ...
78709            3353213     36.0       50.0        0.4
78710            3353216      9.0       20.0        0.2
78711            3353237     12.0       18.0        0.7
78712            3353251    272.0      264.0        0.5
78713            3353254     21.0       15.0        0.4

[78714 rows x 4 columns]

# Hematologic

In [193]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

hemoglobin = df_lab[df_lab['labname'].str.contains('Hgb', case=False, na=False)]
hemoglobin = hemoglobin.query(querypred)
hemoglobin = hemoglobin[['patientunitstayid', 'labresult']].copy()
hemoglobin.rename(columns={'labresult' : 'hemoglobin'}, inplace=True)
hemoglobin = hemoglobin.groupby('patientunitstayid')['hemoglobin'].min().reset_index()

In [194]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

iqr = df_lab[df_lab['labname'].str.contains('INR', case=False, na=False)]
iqr = iqr.query(querypred)
iqr = iqr[['patientunitstayid', 'labresult']].copy()
iqr.rename(columns={'labresult' : 'iqr'}, inplace=True)
iqr = iqr.groupby('patientunitstayid')['iqr'].max().reset_index()

In [195]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

platelets = df_lab[df_lab['labname'].str.contains('platelets', case=False, na=False)]
platelets = platelets.query(querypred)
platelets = platelets[['patientunitstayid', 'labresult']].copy()
platelets.rename(columns={'labresult' : 'platelets'}, inplace=True)
platelets = platelets.groupby('patientunitstayid')['platelets'].min().reset_index()

In [196]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

PTT = df_lab[df_lab['labname'].str.contains('PTT', case=False, na=False)]
PTT = PTT.query(querypred)
PTT = PTT[['patientunitstayid', 'labresult']].copy()
PTT.rename(columns={'labresult' : 'PTT'}, inplace=True)
PTT = PTT.groupby('patientunitstayid')['PTT'].max().reset_index()

In [197]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

fibrinogen = df_lab[df_lab['labname'].str.contains('fibrinogen', case=False, na=False)]
fibrinogen = fibrinogen.query(querypred)
fibrinogen = fibrinogen[['patientunitstayid', 'labresult']].copy()

fibrinogen['distancia'] = np.abs(fibrinogen['labresult'] - 300)
fibrinogen = fibrinogen.dropna(subset=['distancia'])
fibrinogen = fibrinogen.loc[fibrinogen.groupby('patientunitstayid')['distancia'].idxmax()]
fibrinogen = fibrinogen.reset_index(drop=True)
fibrinogen = fibrinogen.drop(['distancia'], axis=1)

fibrinogen.rename(columns={'labresult' : 'fibrinogen'}, inplace=True)

In [198]:
hematologic = pd.merge(hemoglobin, iqr, on='patientunitstayid', how='outer')
hematologic = pd.merge(hematologic, platelets, on='patientunitstayid', how='outer')
hematologic = pd.merge(hematologic, PTT, on='patientunitstayid', how='outer')
hematologic = pd.merge(hematologic, fibrinogen, on='patientunitstayid', how='outer')
hematologic

        patientunitstayid  hemoglobin   iqr  platelets    PTT  fibrinogen
0                  141168         NaN  1.70        NaN   29.0         NaN
1                  141178        15.5   NaN      273.0    NaN         NaN
2                  141194         8.9   NaN      233.0   24.0         NaN
3                  141197        11.5   NaN      589.0    NaN         NaN
4                  141203        11.3   NaN      557.0    NaN         NaN
...                   ...         ...   ...        ...    ...         ...
136174            3353235        16.3   NaN      133.0    NaN         NaN
136175            3353237        13.6  1.27      132.0  114.0         NaN
136176            3353251        10.2  1.05      232.0   22.0         NaN
136177            3353254        10.9  1.03      268.0   26.0         NaN
136178            3353263        14.8   NaN      161.0   25.0         NaN

[136179 rows x 6 columns]

# Bioquimica

In [199]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

albumin = df_lab[df_lab['labname'].str.contains('albumin', case=False, na=False)]
albumin = albumin.query(querypred)
albumin = albumin[['patientunitstayid', 'labresult']].copy()
albumin.rename(columns={'labresult' : 'albumin'}, inplace=True)
albumin = albumin.groupby('patientunitstayid')['albumin'].min().reset_index()

In [200]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

chloride = df_lab[df_lab['labname'].str.contains('chloride', case=False, na=False)]
chloride = chloride.query(querypred)
chloride = chloride[['patientunitstayid', 'labresult']].copy()

chloride['distancia'] = np.abs(chloride['labresult'] - 102.5)
chloride = chloride.dropna(subset=['distancia'])
chloride = chloride.loc[chloride.groupby('patientunitstayid')['distancia'].idxmax()]
chloride = chloride.reset_index(drop=True)
chloride = chloride.drop(['distancia'], axis=1)

chloride.rename(columns={'labresult' : 'chloride'}, inplace=True)

In [201]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

glucose = df_lab[df_lab['labname'].str.contains('glucose', case=False, na=False)]
glucose = glucose.query(querypred)
glucose = glucose[['patientunitstayid', 'labresult']].copy()

glucose['distancia'] = np.abs(glucose['labresult'] - 125)
glucose = glucose.dropna(subset=['distancia'])
glucose = glucose.loc[glucose.groupby('patientunitstayid')['distancia'].idxmax()]
glucose = glucose.reset_index(drop=True)
glucose = glucose.drop(['distancia'], axis=1)

glucose.rename(columns={'labresult' : 'glucose'}, inplace=True)

In [202]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

sodium = df_lab[df_lab['labname'].str.contains('sodium', case=False, na=False)]
sodium = sodium.query(querypred)
sodium = sodium[['patientunitstayid', 'labresult']].copy()

sodium['distancia'] = np.abs(sodium['labresult'] - 140)
sodium = sodium.dropna(subset=['distancia'])
sodium = sodium.loc[sodium.groupby('patientunitstayid')['distancia'].idxmax()]
sodium = sodium.reset_index(drop=True)
sodium = sodium.drop(['distancia'], axis=1)

sodium.rename(columns={'labresult' : 'sodium'}, inplace=True)

In [203]:
tempo = "physicalexamoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

gcs_filtro = df_physicalExam[df_physicalExam['physicalexampath'].str.contains('gcs', case=False, na=False)]
gcs_filtro = gcs_filtro.query(querypred)
# Convertendo a coluna para valores numéricos, substituindo não numéricos por NaN
gcs_filtro['physicalexamvalue'] = pd.to_numeric(gcs_filtro['physicalexamvalue'], errors='coerce')
# Removendo as linhas que contêm NaN na coluna 'physicalexampath'
gcs_filtro = gcs_filtro.dropna(subset=['physicalexamvalue'])

motor = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Motor Score', case=False, na=False)]
motor = motor.query(querypred)
motor = motor[['patientunitstayid', 'physicalexamtext']].copy()
motor = motor.rename(columns={'physicalexamtext': 'motor'})
motor['motor'] = motor['motor'].astype(int)
#Removendo motor do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Motor Score', case=False)].index)

eyes = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Eyes Score', case=False, na=False)]
eyes = eyes.query(querypred)
eyes = eyes[['patientunitstayid', 'physicalexamtext']].copy()
eyes = eyes.rename(columns={'physicalexamtext': 'eyes'})
eyes['eyes'] = eyes['eyes'].astype(int)
#Removendo eyes do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Eyes Score', case=False)].index)

verbal = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Verbal Score', case=False, na=False)]
verbal = verbal.query(querypred)
verbal = verbal[['patientunitstayid', 'physicalexamtext']].copy()
verbal = verbal.rename(columns={'physicalexamtext': 'verbal'})
verbal['verbal'] = verbal['verbal'].astype(int)
#Removendo verbal do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('Verbal Score', case=False)].index)

gcs_total = gcs_filtro[gcs_filtro['physicalexampath'].str.contains('gcs', case=False, na=False)]
gcs_total = gcs_total.query(querypred)
gcs_total = gcs_total[['patientunitstayid', 'physicalexamtext']].copy()
gcs_total = gcs_total.rename(columns={'physicalexamtext': 'gcs_total'})
gcs_total['gcs_total'] = gcs_total['gcs_total'].astype(int)
#Removendo GCS do df GCS
gcs_filtro = gcs_filtro.drop(gcs_filtro[gcs_filtro['physicalexampath'].str.contains('gcs', case=False)].index)

gcs_temp = pd.merge(motor, eyes, on='patientunitstayid', how='outer')
gcs_temp2 = pd.merge(gcs_temp, verbal, on='patientunitstayid', how='outer')
gcs = pd.merge(gcs_temp2, gcs_total, on='patientunitstayid', how='outer')
gcs ['gcs'] = gcs ['motor'] + gcs ['eyes'] + gcs ['verbal']

gcs['gcs'] = gcs.apply(
    lambda row: row['gcs_total'] if not np.isnan(row['gcs_total']) and row['gcs'] != row['gcs_total'] else row['gcs'],
    axis=1
)
gcs = gcs.drop(['motor', 'eyes', 'verbal', 'gcs_total'], axis=1)
idx = gcs.groupby('patientunitstayid')['gcs'].idxmin()
idx = idx.dropna()
gcs = gcs.loc[idx]

In [204]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

potassium = df_lab[df_lab['labname'].str.contains('potassium', case=False, na=False)]
potassium = potassium.query(querypred)
potassium = potassium[['patientunitstayid', 'labresult']].copy()

potassium['distancia'] = np.abs(potassium['labresult'] - 4.5)
potassium = potassium.dropna(subset=['distancia'])
potassium = potassium.loc[potassium.groupby('patientunitstayid')['distancia'].idxmax()]
potassium = potassium.reset_index(drop=True)
potassium = potassium.drop(['distancia'], axis=1)

potassium.rename(columns={'labresult' : 'potassium'}, inplace=True)

In [205]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

calcium = df_lab[df_lab['labname'].str.contains('calcium', case=False, na=False)]
calcium = calcium.query(querypred)
calcium = calcium[['patientunitstayid', 'labresult']].copy()

calcium['distancia'] = np.abs(calcium['labresult'] - 9.6)
calcium = calcium.dropna(subset=['distancia'])
calcium = calcium.loc[calcium.groupby('patientunitstayid')['distancia'].idxmax()]
calcium = calcium.reset_index(drop=True)
calcium = calcium.drop(['distancia'], axis=1)

calcium.rename(columns={'labresult' : 'calcium'}, inplace=True)

In [206]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

phosphate = df_lab[df_lab['labname'].str.contains('phosphate', case=False, na=False)]
phosphate = phosphate.query(querypred)
phosphate = phosphate[['patientunitstayid', 'labresult']].copy()

phosphate['distancia'] = np.abs(phosphate['labresult'] - 3.5)
phosphate = phosphate.dropna(subset=['distancia'])
phosphate = phosphate.loc[phosphate.groupby('patientunitstayid')['distancia'].idxmax()]
phosphate = phosphate.reset_index(drop=True)
phosphate = phosphate.drop(['distancia'], axis=1)

phosphate.rename(columns={'labresult' : 'phosphate'}, inplace=True)

In [207]:
tempo = "labresultoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

magnesium = df_lab[df_lab['labname'].str.contains('magnesium', case=False, na=False)]
magnesium = magnesium.query(querypred)
magnesium = magnesium[['patientunitstayid', 'labresult']].copy()
magnesium.rename(columns={'labresult' : 'magnesium'}, inplace=True)
magnesium = magnesium.groupby('patientunitstayid')['magnesium'].min().reset_index()

In [208]:
bioquimica = pd.merge(albumin, chloride, on='patientunitstayid', how='outer')
bioquimica = pd.merge(bioquimica, glucose, on='patientunitstayid', how='outer')
bioquimica = pd.merge(bioquimica, sodium, on='patientunitstayid', how='outer')
bioquimica = pd.merge(bioquimica, gcs, on='patientunitstayid', how='outer')
bioquimica = pd.merge(bioquimica, potassium, on='patientunitstayid', how='outer')
bioquimica = pd.merge(bioquimica, calcium, on='patientunitstayid', how='outer')
bioquimica = pd.merge(bioquimica, phosphate, on='patientunitstayid', how='outer')
bioquimica = pd.merge(bioquimica, magnesium, on='patientunitstayid', how='outer')
bioquimica

,patientunitstayid,albumin,chloride,glucose,sodium,gcs,potassium,calcium,phosphate,magnesium
0,141168,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN
1,141178,4.0,108.0,77.0,146.0,NaN,3.6,8.0,NaN,NaN
2,141179,NaN,109.0,54.0,146.0,NaN,3.6,8.6,NaN,2.0
3,141194,2.3,105.0,165.0,135.0,13.0,4.0,8.5,NaN,1.2
4,141197,2.9,99.0,162.0,139.0,15.0,4.1,9.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
187171,3353235,NaN,109.0,100.0,137.0,15.0,4.1,9.4,NaN,NaN
187172,3353237,3.5,101.0,139.0,140.0,14.0,3.6,9.0,NaN,NaN
187173,3353251,3.3,106.0,346.0,136.0,3.0,3.9,8.9,7.3,1.7
187174,3353254,3.9,109.0,181.0,141.0,15.0,5.0,8.9,NaN,NaN
187175,3353263,NaN,101.0,100.0,135.0,15.0,4.1,9.5,2.5,2.2

# Medicamento

In [209]:
tempo = "drugorderoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

antibiotico = df_medication [['patientunitstayid', 'drugorderoffset', 'drugname', 'dosage']].copy()
antibiotico = antibiotico.query(querypred)

# Lista de antibióticos
antibioticos_list = [
    'Vancomycin', 'Metronidazole', 'Ceftriaxone', 'Cefazolin', 'Piperacillin-tazobactam',
    'Azithromycin', 'Cefepime', 'Penicillin', 'Clindamicina', 'Levofloxacino',
    'Meropenem', 'Levofloxacin', 'Ciprofloxacin', 'Zosyn'
]
regex_pattern = '|'.join(antibioticos_list)
antibiotico['drugname'] = antibiotico['drugname'].fillna('0')
# Criando a coluna 'antibiotico' com 1 se o paciente usou algum dos antibióticos e 0 caso contrário
antibiotico['antibiotico'] = antibiotico['drugname'].str.contains(regex_pattern, case=False, regex=True).astype(int)
antibiotico = antibiotico.loc[antibiotico.groupby('patientunitstayid')['antibiotico'].idxmax()]
antibiotico = antibiotico.reset_index(drop=True)
antibiotico = antibiotico.drop(['drugorderoffset', 'drugname' ,	'dosage'], axis=1)

# Cultura

In [210]:
tempo = "culturetakenoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

cultura = df_microlab [['patientunitstayid', 'culturetakenoffset', 'culturesite', 'organism']].copy()
cultura = cultura.query(querypred)

cultura = cultura.drop_duplicates(subset='patientunitstayid')
cultura['cultura'] = 1
cultura = cultura.drop(['culturetakenoffset', 'culturesite' ,	'organism'], axis=1)

# Cultura - bacterias específicas (será utilizado talvez em outro momento)

In [211]:
tempo = "culturetakenoffset"
querypred = f"{tempo} >= {t0} and {tempo} <= {t1}"

cultura_bac = df_microlab [['patientunitstayid', 'culturetakenoffset', 'culturesite', 'organism']].copy()
cultura_bac = cultura_bac.query(querypred)

# Lista de antibióticos
cultura_bac_list = [
    'gram negative rods', 'gram positive cocci', 'Acinetobacter baumanii', 'Staphylococcus aureus',
    'Clostridium difficile', 'Streptococcus pneumoniae', 'yeast',
    'Candida albicans', 'Klebsiella pneumoniae', 'Escherichia coli',
    'Pseudomonas aeruginosa', 'gram positive rods'
]
regex_pattern = '|'.join(cultura_bac_list)
cultura_bac['organism'] = cultura_bac['organism'].fillna('0')
# Criando a coluna 'cultura_bac' com 1 se o paciente usou algum dos antibióticos e 0 caso contrário
cultura_bac['cultura'] = cultura_bac['organism'].str.contains(regex_pattern, case=False, regex=True).astype(int)
cultura_bac = cultura_bac.loc[cultura_bac.groupby('patientunitstayid')['cultura'].idxmax()]
cultura_bac = cultura_bac.reset_index(drop=True)
cultura_bac = cultura_bac.drop(['culturetakenoffset', 'culturesite' ,	'organism'], axis=1)

# Merge set

In [212]:
# Internações: 0 por outro diagnóstico e 1 para Sepse
diagnostico = df_diagnosis [['patientunitstayid', 'diagnosisstring', 'diagnosisoffset']].copy()
diagnostico = diagnostico.query('diagnosisoffset > 360 and diagnosisoffset < 4320')

# Criar a coluna de diagnóstico de sepse ou não
diagnostico['sepse_diagnostico'] = 0

# Verificar se ocorre a palavra "sepse" na coluna 'apacheadmissiondx' e atribuir 1 se ocorrer
diagnostico.loc[diagnostico['diagnosisstring'].str.contains('sepsis|septic', case=False, na=False), 'sepse_diagnostico'] = 1
diagnostico = diagnostico[['patientunitstayid','sepse_diagnostico']].copy()
diagnostico = diagnostico.groupby('patientunitstayid')['sepse_diagnostico'].max().reset_index()

In [213]:
# Internações: 0 por outro diagnóstico e 1 para Sepse nas primeiras 24h
diagnostico_24 = df_diagnosis [['patientunitstayid', 'diagnosisstring', 'diagnosisoffset']].copy()
diagnostico_24 = diagnostico_24.query('0 <= diagnosisoffset <= 360')

# Criar a coluna de diagnóstico de sepse ou não
diagnostico_24['sepse_diagnostico'] = 0

# Verificar se ocorre a palavra "sepse" na coluna 'apacheadmissiondx' e atribuir 1 se ocorrer
diagnostico_24.loc[diagnostico_24['diagnosisstring'].str.contains('sepsis|septic', case=False, na=False), 'sepse_diagnostico'] = 1
diagnostico_24 = diagnostico_24[['patientunitstayid','sepse_diagnostico']].copy()
diagnostico_24 = diagnostico_24.groupby('patientunitstayid')['sepse_diagnostico'].max().reset_index()

diagnostico_24 = diagnostico_24.query('sepse_diagnostico == 1')
len(diagnostico_24)

21499

In [214]:
print ("Total de pessoas que entraram com diagnóstico Sepse: ", len (diagnostico_24))

Total de pessoas que entraram com diagnóstico Sepse:  21499

In [215]:
merged_df = pd.merge(diagnostico, diagnostico_24, on='patientunitstayid', how='left', indicator=True)
diagnostico = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge', 'sepse_diagnostico_y'])
diagnostico = diagnostico.rename(columns={'sepse_diagnostico_x' : 'sepse_diagnostico'})
diagnostico

       patientunitstayid  sepse_diagnostico
0                 141203                  0
1                 141284                  0
3                 141436                  0
5                 141594                  0
7                 141822                  0
...                  ...                ...
78378            3353201                  0
78379            3353213                  0
78380            3353216                  0
78381            3353226                  0
78382            3353251                  1

[65836 rows x 2 columns]

In [216]:
len(diagnostico)

65836

### Diagnostico

In [217]:
diagnostico[diagnostico['sepse_diagnostico'] == 1]['sepse_diagnostico'].value_counts()

sepse_diagnostico
1    4426
Name: count, dtype: int64

In [218]:
# Criar a coluna sofa_diagnostico na tabela sofa
sofa['sofa_diagnostico'] = sofa['sofascore'].map(lambda x: 1 if x >= 2 else 0)
sofa2['sofa_diagnostico'] = sofa2['sofa2score'].map(lambda x: 1 if x >= 2 else 0)

# Agrupar por patientunitstayid e pegar o máximo de sofa_diagnostico
sofa = sofa.groupby('patientunitstayid')['sofa_diagnostico'].max().reset_index()
sofa2 = sofa2.groupby('patientunitstayid')['sofa_diagnostico'].max().reset_index()

# Merge cultura e antibioticos com os dois dataframes do SOFA
infeccao = pd.merge(cultura, antibiotico, on='patientunitstayid', how='outer')

sofa = pd.merge(sofa, infeccao, on='patientunitstayid', how='outer')
sofa2 = pd.merge(sofa2, infeccao, on='patientunitstayid', how='outer')

# Função para calcular SOFA + Suspeita de Infecção
def culturaesofa(row):
    if (row['cultura']==1 or row['antibiotico']==1) and row['sofa_diagnostico']==1:
        return 1
    else:
        return 0
    
sofa['sc_diagnostico'] = sofa.apply(culturaesofa, axis=1)
sofa2['sc_diagnostico2'] = sofa2.apply(culturaesofa, axis=1)

In [219]:
# Pacientes com sofa>=2 e suspeita de infecção nas primeiras 24 horas
sofa2 = sofa2.query('sc_diagnostico2 == 1')
len(sofa2)

16400

In [220]:
# Fazer a junção das tabelas e manter apenas os pacientes que não estão na tabela sofa2
mdf = pd.merge(sofa, sofa2, on='patientunitstayid', how='left', indicator=True)
sofa = mdf[mdf['_merge'] == 'left_only'].drop(columns=['_merge', 'sc_diagnostico2'])
sofa.rename(columns={'sc_diagnostico' : 'sofa_diagnostico'}, inplace=True)
sofa = sofa[['patientunitstayid', 'sofa_diagnostico']]

sofa

        patientunitstayid  sofa_diagnostico
0                  141168                 0
1                  141178                 0
2                  141179                 0
7                  141208                 0
9                  141229                 0
...                   ...               ...
200854            3353235                 0
200855            3353237                 0
200856            3353251                 0
200857            3353254                 0
200858            3353263                 0

[184459 rows x 2 columns]

In [221]:
diagnostico = pd.merge(diagnostico, sofa, on='patientunitstayid', how='outer', indicator=True)
diagnostico = diagnostico.drop(['_merge'], axis=1)
diagnostico

        patientunitstayid  sepse_diagnostico  sofa_diagnostico
0                  141168                NaN               0.0
1                  141178                NaN               0.0
2                  141179                NaN               0.0
3                  141203                0.0               NaN
4                  141208                NaN               0.0
...                   ...                ...               ...
189864            3353235                NaN               0.0
189865            3353237                NaN               0.0
189866            3353251                1.0               0.0
189867            3353254                NaN               0.0
189868            3353263                NaN               0.0

[189869 rows x 3 columns]

### SOFA>=2 e Cultura + Diagnostico

In [222]:
diagnostico[diagnostico['sofa_diagnostico'] == 1]['sofa_diagnostico'].value_counts()

sofa_diagnostico
1.0    88
Name: count, dtype: int64

In [223]:
# Função para juntar os dois diagnósticos
def issepsis(row):
    if row['sepse_diagnostico']==1 or row['sofa_diagnostico']==1:
        return 1
    else:
        return 0

diagnostico['diagnostico'] = diagnostico.apply(issepsis, axis=1)
diagnostico = diagnostico.drop(['sepse_diagnostico', 'sofa_diagnostico'], axis=1)
diagnostico

        patientunitstayid  diagnostico
0                  141168            0
1                  141178            0
2                  141179            0
3                  141203            0
4                  141208            0
...                   ...          ...
189864            3353235            0
189865            3353237            0
189866            3353251            1
189867            3353254            0
189868            3353263            0

[189869 rows x 2 columns]

In [224]:
df_final = pd.merge(characteristic, inflammation, on='patientunitstayid', how='outer')
df_final = pd.merge(df_final, pulmonary, on='patientunitstayid', how='outer')
df_final = pd.merge(df_final, cardiovascular, on='patientunitstayid', how='outer')
df_final = pd.merge(df_final, renal, on='patientunitstayid', how='outer')
df_final = pd.merge(df_final, hepatic, on='patientunitstayid', how='outer')
df_final = pd.merge(df_final, hematologic, on='patientunitstayid', how='outer')
df_final = pd.merge(df_final, bioquimica, on='patientunitstayid', how='outer')
df_final = pd.merge(df_final, diagnostico, on='patientunitstayid', how='inner')
df_final.head()

,patientunitstayid,gender,age,ethnicity,bands,CRP,ESR,temp,lactate,WBC,...,albumin,chloride,glucose,sodium,gcs,potassium,calcium,phosphate,magnesium,diagnostico
0,141168,Female,70,Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,0
1,141178,Female,52,Caucasian,NaN,NaN,NaN,NaN,NaN,7.6,...,4.0,108.0,77.0,146.0,NaN,3.6,8.0,NaN,NaN,0
2,141179,Female,52,Caucasian,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,109.0,54.0,146.0,NaN,3.6,8.6,NaN,2.0,0
3,141203,Female,77,Caucasian,NaN,NaN,NaN,NaN,3.5,12.7,...,NaN,107.0,145.0,145.0,5.0,4.0,8.6,NaN,1.5,0
4,141208,Female,25,Caucasian,NaN,NaN,NaN,NaN,NaN,11.1,...,4.7,103.0,86.0,142.0,14.0,3.8,9.1,NaN,NaN,0

# Numerical Values

In [225]:
df_final['age'] = df_final['age'].map(lambda x: '95' if x == '> 89' else x)
df_final['age'] = df_final['age'].astype(float)

In [226]:
df_final['gender'] = df_final['gender'].map(lambda x: 0 if x == 'Male' else 1)
df_final['gender'] = df_final['gender'].astype(int)

In [227]:
#Etnia 

ethnicity_one_hot = pd.get_dummies(df_final['ethnicity'], prefix='ethnicity')
df_final = pd.concat([df_final, ethnicity_one_hot], axis=1)
df_final.drop('ethnicity', axis=1, inplace=True)
df_final[ethnicity_one_hot.columns] = df_final[ethnicity_one_hot.columns].astype(int)

## Limpar df_final

In [228]:
len(df_final)

189869

In [229]:
# Filtrar df_final removendo pacientes que não entraram na UTI
uti_total = df_patient.copy()
uti_total = uti_total.query('hospitaladmitoffset < 0')
df_final = df_final[df_final['patientunitstayid'].isin(uti_total['patientunitstayid'])]

In [230]:
# Filtrar df_final removendo pacientes que permaneceram na UTI por menos de 24 horas
menos_24 = df_patient[df_patient['unitdischargeoffset'] < 360]
df_final = df_final[~df_final['patientunitstayid'].isin(menos_24['patientunitstayid'])]

In [231]:
# Excluir pacientes da df_final que entraram pelo motivo de sepse
septics = df_patient[df_patient['apacheadmissiondx'].str.contains('sepsis|septic', case=False, na=False)]
df_final = df_final[~df_final['patientunitstayid'].isin(septics['patientunitstayid'])]

In [232]:
df_final = df_final[~df_final['patientunitstayid'].isin(diagnostico_24['patientunitstayid'])]

In [233]:
df_final = df_final[~df_final['patientunitstayid'].isin(sofa2['patientunitstayid'])]

In [234]:
len(df_final)

139996

In [235]:
df_final[df_final['diagnostico'] == 1]['diagnostico'].value_counts()

diagnostico
1    2207
Name: count, dtype: int64

In [236]:
df_final[df_final['diagnostico'] == 0]['diagnostico'].value_counts()

diagnostico
0    137789
Name: count, dtype: int64

In [237]:
# Função para tratar outliers por substituição
def tratar_outliers_por_substituicao(col):
    Q1 = col.quantile(0.25)
    Q3 = col.quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR
    
    # Definindo o valor de substituição
    valor_substituicao = col.median()

    # Substituindo os outliers
    col_tratada = np.where((col < limite_inferior) | (col > limite_superior), valor_substituicao, col)
    
    mediana_col = np.median(col_tratada)
    col_tratada = np.where(col_tratada < 0, mediana_col, col_tratada)
    
    return col_tratada

# Separar a coluna 'diagnostico' do DataFrame
diagnostico_col = df_final['diagnostico']

# Remover a coluna 'diagnostico' do DataFrame antes do tratamento
df_sem_diagnostico = df_final.drop('diagnostico', axis=1)

# Aplicar o tratamento de outliers para todas as colunas, exceto 'diagnostico'
df_tratado = df_sem_diagnostico.apply(tratar_outliers_por_substituicao)

df_tratado['diagnostico'] = diagnostico_col

print(df_tratado)

        patientunitstayid  gender   age  bands  CRP  ESR  temp  lactate  \
2                141179.0     1.0  52.0    NaN  NaN  NaN   NaN      NaN
4                141208.0     1.0  25.0    NaN  NaN  NaN   NaN      NaN
6                141260.0     1.0  43.0    NaN  NaN  NaN   NaN      NaN
7                141263.0     0.0  19.0    NaN  NaN  NaN   NaN      NaN
9                141265.0     0.0  67.0    NaN  NaN  NaN   NaN      NaN
...                   ...     ...   ...    ...  ...  ...   ...      ...
189864          3353235.0     0.0  50.0    NaN  NaN  NaN   NaN      NaN
189865          3353237.0     1.0  79.0    NaN  NaN  NaN   NaN      NaN
189866          3353251.0     0.0  73.0    NaN  NaN  NaN   NaN      1.9
189867          3353254.0     0.0  81.0    NaN  NaN  NaN   NaN      1.3
189868          3353263.0     0.0  35.0    NaN  NaN  NaN   NaN      NaN

          WBC  lymphs  ...  calcium  phosphate  magnesium  \
2         NaN     NaN  ...      8.6        NaN        2.0
4       11.10    24.0  ...      9.1        NaN        NaN
6        8.40    13.0  ...      7.9        NaN        1.9
7       13.60    18.0  ...      8.6        NaN        NaN
9         NaN     NaN  ...      NaN        NaN        NaN
...       ...     ...  ...      ...        ...        ...
189864   5.40    13.0  ...      9.4        NaN        NaN
189865  10.40     NaN  ...      9.0        NaN        NaN
189866  10.05     8.0  ...      8.9        3.4        1.7
189867  13.50    10.0  ...      8.9        NaN        NaN
189868   6.40    24.0  ...      9.5        2.5        2.2

        ethnicity_African American  ethnicity_Asian  ethnicity_Caucasian  \
2                              0.0              0.0                  1.0
4                              0.0              0.0                  1.0
6                              0.0              0.0                  1.0
7                              0.0              0.0                  1.0
9                              0.0              0.0                  1.0
...                            ...              ...                  ...
189864                         0.0              0.0                  1.0
189865                         0.0              0.0                  1.0
189866                         0.0              0.0                  1.0
189867                         0.0              0.0                  1.0
189868                         0.0              0.0                  1.0

        ethnicity_Hispanic  ethnicity_Native American  \
2                      0.0                        0.0
4                      0.0                        0.0
6                      0.0                        0.0
7                      0.0                        0.0
9                      0.0                        0.0
...                    ...                        ...
189864                 0.0                        0.0
189865                 0.0                        0.0
189866                 0.0                        0.0
189867                 0.0                        0.0
189868                 0.0                        0.0

        ethnicity_Other/Unknown  diagnostico
2                           0.0            0
4                           0.0            0
6                           0.0            0
7                           0.0            0
9                           0.0            0
...                         ...          ...
189864                      0.0            0
189865                      0.0            0
189866                      0.0            1
189867                      0.0            0
189868                      0.0            0

[139996 rows x 44 columns]

In [238]:
def tratar_gcs(col):
    mediana = np.nanmedian(col)
    col_preenchida = col.fillna(round(mediana))
    col_preenchida = np.clip(col_preenchida, 0, 14)
    col_preenchida = col_preenchida.astype(int)
    
    return col_preenchida

# Aplicando o tratamento na coluna 'gcs'
df_tratado['gcs'] = tratar_gcs(df_tratado['gcs'])

In [239]:
df_tratado[df_tratado['diagnostico'] == 1]['diagnostico'].value_counts()

diagnostico
1    2207
Name: count, dtype: int64

In [240]:
threshold = 0.80
nan_percentages = df_final.isna().mean()
cols_with_high_nan = nan_percentages[nan_percentages > threshold].index
print(cols_with_high_nan)

Index(['bands', 'CRP', 'ESR', 'temp', 'lactate', 'fibrinogen', 'phosphate'], dtype='object')

In [241]:
df_filtrado = df_tratado.drop(columns=cols_with_high_nan)

In [242]:
df_filtrado = df_filtrado[['diagnostico','bloodUreaNitrogen', 'lactate', 'pao2/fio2', 'spo2/fio2', 'troponin', 'calcium', 'iqr', 'heartRate', 'MAP', 'systolic', 'lymphs', 'glucose', 'aspartate', 'platelets', 'resp', 'diastolic', 'age', 'alanine', 'bicarbonate', 'hemoglobin', 'albumin', 'WBC', 'PTT']].copy()

KeyError: "['lactate'] not in index"

In [243]:
df_tratado.to_csv("df_final.csv", index=False)